
.click1{
    cursor: crosshair;
    
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-animation: click1  4s ease-in 0s infinite ;
    animation: click1  4s ease-in 0s infinite ;
   
}
.click2{
    cursor: crosshair;
   
    bottom: 0;
    right: 100%;
    position: absolute;
    -webkit-animation: click2  3s ease-in 0s infinite ;
    animation: click2  3s ease-in 0s infinite ;
   
}
.click3{
    cursor: crosshair;
   
    bottom: 0;
    right: 10%;
    position: absolute;
    -webkit-animation: click3  3s ease-in 0s infinite ;
    animation: click3  3s ease-in 0s infinite ;
  
}
.click4{
    cursor: crosshair;
     
    bottom: 0;
    right: 90%;
    position: absolute;
    -webkit-animation: click4  4s ease-in 0s infinite ;
    animation: click4  4s ease-in 0s infinite ;
 
}
.click5{
    cursor: crosshair;
   
    bottom: 0;
    right: 80%;
    position: absolute;
    -webkit-animation: click5  3s ease-in 0s infinite ;
    animation: click5  3s ease-in 0s infinite ;
    
}
.click6{
    cursor: crosshair;
 
    bottom: 0;
    right: 60%;
    position: absolute;
    -webkit-animation: click6  2s ease-in 0s infinite ;
    animation: click6  2s ease-in 0s infinite ;
   
}
.click7{
    cursor: crosshair;
   
    bottom: 0;
    right: 40%;
    position: absolute;
    -webkit-animation: click7  2s ease-in 0s infinite ;
    animation: click7  2s ease-in 0s infinite ;
   
}
.click8{
    cursor: crosshair;
    
    bottom: 0;
    right: 20%;
    position: absolute;
    -webkit-animation: click8  3s ease-in 0s infinite ;
    animation: click8  3s ease-in 0s infinite ;
    
}

.click9{
    cursor: crosshair;
    
    bottom: 0;
    right: 0;
    position: absolute;
    -webkit-animation: click9  6s ease-in 0s infinite ;
    animation: click9  6s ease-in 0s infinite ;
    
}
.click10{
    cursor: crosshair;
   
    bottom: 0;
    right: 100%;
    position: absolute;
    -webkit-animation: click10  5s ease-in 0s infinite ;
    animation: click10  5s ease-in 0s infinite ;
    
}
.click11{
    cursor: crosshair;
     
    bottom: 0;
    right: 10%;
    position: absolute;
    -webkit-animation: click11  6s ease-in 0s infinite ;
    animation: click11  6s ease-in 0s infinite ;
    
}
.click12{
    cursor: crosshair;
     width: 120px;
    height: 100px;
    bottom: 0;
    right: 90%;
    position: absolute;
    -webkit-animation: click12  5s ease-in 0s infinite ;
    animation: click12  5s ease-in 0s infinite ;
   
}
.click13{
    cursor: crosshair;
   
    bottom: 0;
    right: 80%;
    position: absolute;
    -webkit-animation: click13  6s ease-in 0s infinite ;
    animation: click13  6s ease-in 0s infinite ;
    
}
.click14{
    cursor: crosshair;
     
    bottom: 0;
    right: 60%;
    position: absolute;
    -webkit-animation: click14  5s ease-in 0s infinite ;
    animation: click14  5s ease-in 0s infinite ;
    
}
.click15{
    cursor: crosshair;
    
    bottom: 0;
    right: 40%;
    position: absolute;
    -webkit-animation: click15  6s ease-in 0s infinite ;
    animation: click15  6s ease-in 0s infinite ;
   
}
.click16{
    cursor: crosshair;
    
    bottom: 0;
    right: 20%;
    position: absolute;
    -webkit-animation: click16  5s ease-in 0s infinite ;
    animation: click16  5s ease-in 0s infinite ;
    
}
@-webkit-keyframes click1 {
  0%  {bottom:0; right: 0; }
 50%  {bottom:80%; right: 50%; }
 100% {bottom: 0; right: 100%; }

}
@keyframes click1 {
  0%  {bottom:0; right: 0; }
 50%  {bottom:80%; right: 50%; }
 100% {bottom: 0; right: 100%; }

}
@-webkit-keyframes click2 {
  0%  {bottom:0; right: 100%; }
 50%  {bottom:80%; right: 50%; }
 100% {bottom: 0; right: 0%; }

}
@keyframes click2 {
  0%  {bottom:0; right: 100%; }
 50%  {bottom:80%; right: 50%; }
 100% {bottom: 0; right: 0%; }

}
@-webkit-keyframes click3 {
  0%  {bottom:0; right: 10%; }
 50%  {bottom:70%; right: 50%; }
 100% {bottom: 0; right: 90%; }

}
@keyframes click3 {
  0%  {bottom:0; right: 10%; }
 50%  {bottom:70%; right: 50%; }
 100% {bottom: 0; right: 90%; }

}
@-webkit-keyframes click4 {
  0%  {bottom:0; right: 90%; }
 50%  {bottom:70%; right: 50%; }
 100% {bottom: 0; right: 10%; }

}
@keyframes click4 {
  0%  {bottom:0; right: 90%; }
 50%  {bottom:70%; right: 50%; }
 100% {bottom: 0; right: 10%; }

}
@-webkit-keyframes click5 {
  0%  {bottom:0; right: 80%; }
 50%  {bottom:80%; right: 70%; }
 100% {bottom: 0; right: 60%; }

}
@keyframes click5 {
  0%  {bottom:0; right: 80%; }
 50%  {bottom:80%; right: 70%; }
 100% {bottom: 0; right: 60%; }

}
@-webkit-keyframes click6 {
  0%  {bottom:0; right: 60%; }
 50%  {bottom:80%; right: 70%; }
 100% {bottom: 0; right: 80%; }

}
@keyframes click6 {
  0%  {bottom:0; right: 60%; }
 50%  {bottom:80%; right: 70%; }
 100% {bottom: 0; right: 80%; }

}
@-webkit-keyframes click7 {
  0%  {bottom:0; right: 40%; }
 50%  {bottom:80%; right: 30%; }
 100% {bottom: 0; right: 20%; }

}
@keyframes click7 {
  0%  {bottom:0; right: 40%; }
 50%  {bottom:80%; right: 30%; }
 100% {bottom: 0; right: 20%; }

}
@-webkit-keyframes click8 {
  0%  {bottom:0; right: 20%; }
 50%  {bottom:80%; right: 30%; }
 100% {bottom: 0; right: 40%; }

}
@keyframes click8 {
  0%  {bottom:0; right: 20%; }
 50%  {bottom:80%; right: 30%; }
 100% {bottom: 0; right: 40%; }

}
@-webkit-keyframes click9 {
  0%  {bottom:0; right: 0; }
 50%  {bottom:80%; right: 50%; }
 100% {bottom: 0; right: 100%; }

}
@keyframes click9 {
  0%  {bottom:0; right: 0; }
 50%  {bottom:80%; right: 50%; }
 100% {bottom: 0; right: 100%; }

}
@-webkit-keyframes click10 {
  0%  {bottom:0; right: 100%; }
 50%  {bottom:80%; right: 50%; }
 100% {bottom: 0; right: 0%; }

}
@keyframes click10 {
  0%  {bottom:0; right: 100%; }
 50%  {bottom:80%; right: 50%; }
 100% {bottom: 0; right: 0%; }

}
@-webkit-keyframes click11 {
  0%  {bottom:0; right: 10%; }
 50%  {bottom:70%; right: 50%; }
 100% {bottom: 0; right: 90%; }

}
@keyframes click11 {
  0%  {bottom:0; right: 10%; }
 50%  {bottom:70%; right: 50%; }
 100% {bottom: 0; right: 90%; }

}
@-webkit-keyframes click12 {
  0%  {bottom:0; right: 90%; }
 50%  {bottom:70%; right: 50%; }
 100% {bottom: 0; right: 10%; }

}
@keyframes click12 {
  0%  {bottom:0; right: 90%; }
 50%  {bottom:70%; right: 50%; }
 100% {bottom: 0; right: 10%; }

}
@-webkit-keyframes click13 {
  0%  {bottom:0; right: 80%; }
 50%  {bottom:80%; right: 70%; }
 100% {bottom: 0; right: 60%; }

}
@keyframes click13 {
  0%  {bottom:0; right: 80%; }
 50%  {bottom:80%; right: 70%; }
 100% {bottom: 0; right: 60%; }

}
@-webkit-keyframes click14 {
  0%  {bottom:0; right: 60%; }
 50%  {bottom:80%; right: 70%; }
 100% {bottom: 0; right: 80%; }

}
@keyframes click14 {
  0%  {bottom:0; right: 60%; }
 50%  {bottom:80%; right: 70%; }
 100% {bottom: 0; right: 80%; }

}
@-webkit-keyframes click15 {
  0%  {bottom:0; right: 40%; }
 50%  {bottom:80%; right: 30%; }
 100% {bottom: 0; right: 20%; }

}
@keyframes click15 {
  0%  {bottom:0; right: 40%; }
 50%  {bottom:80%; right: 30%; }
 100% {bottom: 0; right: 20%; }

}
@-webkit-keyframes click16 {
  0%  {bottom:0; right: 20%; }
 50%  {bottom:80%; right: 30%; }
 100% {bottom: 0; right: 40%; }

}
@keyframes click16 {
  0%  {bottom:0; right: 20%; }
 50%  {bottom:80%; right: 30%; }
 100% {bottom: 0; right: 40%; }

}
.container-fluid{
    position: relative;
    min-height: 80vh;
    cursor: crosshair
}


.score_container {
    min-height:15vh; 
}



.heart {
    font-size: 6rem;
    color: red;
}

.bomb {
    font-size: 6rem;
    color: black;
}

@media only screen and (max-width: 900px) {

 .heart {
    font-size: 4rem;
    color: red;
} 
      
  }

@media only screen and (max-width: 900px) {
.bomb {
    font-size: 4rem;
    color: black;
}
}